[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = NGINX and  NGINX Plus Ingress Controllers for Kubernetes
[access "refs/*"]
	owner = group user/jitendramohanty
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/jitendramohanty
	label-Verified = -1..+1 group user/jitendramohanty
	push = group user/jitendramohanty
	read = group user/jitendramohanty
	rebase = group user/jitendramohanty
	removeReviewer = group user/jitendramohanty
	submit = group user/jitendramohanty
[access "refs/heads/*"]
	create = group user/jitendramohanty
	push = +force group user/jitendramohanty
	pushMerge = group user/jitendramohanty
	read = group user/jitendramohanty
[access "refs/tags/*"]
	push = group user/jitendramohanty
	push = +force group user/jitendramohanty
